@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gelasio";
    src: url("./assets/fonts/Gelasio-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}